bpython==0.22.1
brotli==1.0.9
configparser==5.2.0
coreschema==0.0.4
cryptography==36.0.0
cx_Oracle==8.3.0
Cython==0.29.28
dj_database_url==0.5.0
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==4.8.2
ipdb==0.13.9
ipython==8.0.1
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.6.4
Markdown==3.3.6
MySQL-python==1.2.5
numpy==1.21.4
ordereddict==1.1
Pillow==9.0.1
protobuf==3.19.4
psycopg2==2.9.3
psycopg2_binary==2.9.3
Pygments==2.10.0
pylibmc==1.6.1
pymemcache==3.5.1
pyOpenSSL==22.0.0
pytest==6.2.5
python_memcached==1.59
pywatchman==1.4.1
PyYAML==6.0
sets==0.3.2
simplejson==3.17.6
tblib==1.7.0
toml==0.10.2
tornado==6.1
typing_extensions==4.1.1
unicodedata2==14.0.0
uritemplate==4.1.1
xmlrpclib==1.0.1
zipp==3.6.0
